.menu {
  max-width: rem(977px);
  margin: 0 auto;
  padding: rem(10px) 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  box-shadow: none;
  // background-color: transparent;
}
.menu__hamburger {
  position: relative;
  z-index: 50;
  display: none;
  padding: rem(15px);
  outline: none;
  transition: .4s;
  .hamburger-inner {
    background-color: $accent;
    &::before, &::after {
      background-color: $accent;
    }
  }
}
.menu .menu__collapse {
  padding: 0;
  border: 0;
  box-shadow: none;
}
.menu__list {
  @extend %ul-reset;
  float: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.menu .menu__item {
  float: none;
  padding: 9px rem(18px);
}
.menu .menu__link {
  position: relative;
  display: block;
  padding: rem(12px) 0;
  font-size: rem(18px);
  line-height: 1;
  font-weight: 600;
  font-family: $openSansSemibold;
  text-decoration: none;
  color: $light-1;
  background-color: transparent;
  cursor: pointer;
  transition: .3s;
  &:hover {
    color: $accent;
    background-color: transparent;
    &::after {
      width: 100%;
    }
  }
  &:active {
    color: $accent-active;
  }
  &::after {
    content: "";
    position: absolute;
    z-index: 30;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: $accent;
    transition: width .4s ease;
  }
  &--active {
    color: $accent;
    &::after {
      width: 100%;
    }
  }
}


@media screen and #{($laptop-point-widths-des)} {
}
@media screen and #{($tablet-point-widths-des)} {
  .menu {
    padding: 0;
    text-align: right;
    & .container {
      padding: 0;
    }
  }
  .menu__list {
    display: block;
    text-align: left;
    background-color: $bg-1;
  }
  .menu__hamburger {
    display: inline-block;
  }
  .menu .menu__item {
    padding: 0;
  }
  .menu .menu__link {
    padding: 18px 15px;
    color: $black-1;
    &::after {
      content: "";
      position: static;
      z-index: 30;
      bottom: auto;
      left: auto;
      width: auto;
      height: 0;
      background-color: none;
    }
    &:hover {
      color: $light-1;
      background-color: $accent-active;
    }
  }
}
@media screen and #{($phone-point-widths-des)} {

}
