.menu {
  max-width: rem(977px);
  margin: 0 auto;
  padding: rem(10px) 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  box-shadow: none;
  transition: .25s;
}
.menu__hamburger {
  position: relative;
  z-index: 50;
  display: none;
  padding: rem(15px);
  outline: none;
  transition: .4s;
  .hamburger-inner {
    background-color: $accent;
    &::before, &::after {
      background-color: $accent;
    }
  }
}
.menu .menu__collapse {
  padding: 0;
  border: 0;
  box-shadow: none;
}
.menu__list {
  @extend %ul-reset;
  float: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.menu .menu__item {
  float: none;
  padding: 9px rem(18px);
}
.menu .menu__link {
  position: relative;
  display: block;
  padding: rem(12px) 0;
  font-size: rem(18px);
  line-height: 1;
  font-weight: 600;
  font-family: $openSansSemibold;
  text-decoration: none;
  color: $light-1;
  background-color: transparent;
  cursor: pointer;
  transition: .3s;
  &:hover {
    color: $accent;
    background-color: transparent;
    &::after {
      width: 100%;
    }
  }
  &:active {
    color: $accent-active;
    &::after {
      background-color: $accent-active;
    }
  }
  &:focus {
    outline: none;
    background-color: transparent;
  }
  &::after {
    content: "";
    position: absolute;
    z-index: 30;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: $accent;
    transition: width .4s ease;
  }
  &--active {
    color: $accent;
    &::after {
      width: 100%;
    }
  }
}


@media screen and #{($laptop-point-widths-des)} {

}
@media screen and (min-width: 815px) {
  .collapse  {
    display: block;
  }
}
@media screen and #{($tablet-point-widths-des)} {
  .menu {
    padding: 0;
    text-align: right;
    & .container {
      max-width: 100%;
      padding: 0;
    }
    & .container .navbar-header {
      float: none;
    }
    & .menu__hamburger {
      display: inline-block;
      margin-right: 20px;
    }
    & .menu__list {
      display: block;
      text-align: left;
      background-color: $bg-1;
      background-color: transparent;
      border-bottom: 2px solid #a6a6a6;
    }
    & .menu__collapse  {
      margin: 0;
    }
    & .menu__item {
      padding: 0;
    }
    & .container .navbar-header {
      margin-right: -15px;
      margin-left: -15px;
    }
    & .menu__link {
      padding: 25px 35px;
      color: $black-1;
      &::after {
        content: "";
        position: static;
        z-index: 30;
        bottom: auto;
        left: auto;
        width: auto;
        height: 0;
        background-color: none;
      }
      &:hover {
        color: $light-1;
        background-color: $accent-active;
      }
    }
  }
}

@media screen and #{($phone-point-widths-des)} {
  .menu__hamburger {
    position: absolute;
    top: -75px;
    right: 0;
  }
  .menu {
    & .menu__list {
      background-color: $bg-1;
    }
  }
   .menu__hamburger {
    display: inline-block;
    margin-right: 0;
    padding: 10px 5px;
  }
  .hamburger-box {
    width: 44px;
    height: 44px;
    border: 2px solid rgba(0, 0, 0, .1);
    border-radius: 50%;
    .hamburger-inner {
      width: 20px;
      height: 3px;
      margin-left: 10px;
      bottom: 10px;
      &::before, &::after {
        width: 20px;
        height: 3px;
      }
      &::before {
        top: -8px;
      }
      &::after {
        top: -16px;
      }
    }
  }
}
