.services {
	padding-bottom: 60px;
	text-align: center;
	background-color: $bg-1;
	border-bottom: 2px solid #d9d9d9;
}
.services__title {
	padding-top: 90px;
	margin-bottom: 40px;
	font-family: $openSansBold;
	font-size: 48px;
	font-weight: 700;
	color: $accent;
}
.services__tabs {
	padding: 0 inter(97, 1140); //97\1140
	.services__tabs-btn {
		@extend %ul-reset;
		border: 0;
		display: inline-block;
		vertical-align: middle;
		margin-bottom: 45px;
	}
	.services__tab-item {
		position: relative;
		margin: 0;
		padding: 0 15px;
	}
	.services__tab-link {
		position: relative;
		padding: 10px 0;
		font-size: 18px;
		line-height: 20px;
		font-family: $openSansBold;
		font-weight: 700;
		color: $light-3;
		background-color: transparent;
		border: 0;
		border-radius: 0;
		margin: 0;
		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			width: 100%;
			height: 2px;
			background-color: transparent;
		}
		&:hover, &:active, &:focus {
			color: $accent;
			background-color: transparent;
			&::after {
			}
		}
	}
}
.services__tabs .nav-tabs .services__tab-item.active {
	transition: .3s;
	.services__tab-link {
		color: $accent;
		background-color: transparent;
		border: 0;
		&::after {
			background-color: $accent;
		}
	}
}
.services__tab-content {
	font-size: 14px;
	line-height: 22px;
	font-family: $openSansRegular;
	font-weight: 400;
	text-align: left;
	color: $black-1;
	transition: 1.5s;
}
.services__tab-text {
	margin-bottom: 60px;
}
.services__tab-link-more {
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	font-size: 16px;
	font-family: $openSansBold;
	font-weight: 700;
	text-decoration: none;
	color: $accent;
	cursor: pointer;
	transition: .25s;
	&:hover, &:active, &:focus {
		color: $accent-active;
		text-decoration: none;
	}
}
.services__feat-list {
	@extend %ul-reset;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: flex-start;
}
.services__feat-item {
	max-width: 165px;
	width: inter(165, 945);
	margin-right: inter(30, 945); //30\945
	margin-bottom: 60px;
	text-align: center;
	transition: .25s;
	&:nth-child(5n-5) {
		margin-right: 0;
	}
	&:hover {
		.services__feat-img {
			color: $accent;
			background-color: $bg-1;
			border: 6px solid $bg-3;
		}
		.services__feat-caption {
			color: $accent;
		}
	}
}
.services__feat-img {
	position: relative;
	display: block;
	width: 92px;
	height: 92px;
	margin: 0 auto;
	margin-bottom: 30px;
	padding: 0 35px;
	font-size: 36px;
	font-weight: 400;
	color: $gray-4;
	background-color: $bg-3;
	border: 6px solid transparent;
	border-radius: 50%;
	box-sizing: border-box;
	transition: 0.25s;
	& .fa {
		position: absolute;
		z-index: 30;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
.services__feat-caption {
	padding: 0 10px;
	font-size: 14px;
	line-height: 18px;
	font-weight: 600;
	font-family: $openSansSemibold;
	color: $gray-2;
	transition: .25s;
}
.services__question {
	font-family: $openSansRegular;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	color: $black-1;
}
.services__question-link {
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	font-family: $openSansBold;
	font-weight: 700;
	text-decoration: none;
	color: $accent;
	transition: .25s;
	cursor: pointer;
	&:hover, &:active, &:focus {
		text-decoration: none;
		outline: none;
		color: $accent-active;
	}
}



@media screen and #{($laptop-point-widths-des)}{

}
@media screen and #{($tablet-point-widths-des)} {

}
@media screen and #{($phone-point-widths-des)} {

}
