//Переменные//
//Шрифты//
$openSansRegular: "OpenSansRegular", "Arial", sans-serif;
$openSansSemibold: "OpenSansSemibold", "Arial", sans-serif;
$openSansBold: "OpenSansBold", "Arial", sans-serif;

//Цвета, фон//
$accent: #ff5b00;
$accent-active: darken($accent, 20%);

$black-1: #000000;
$black-2: #010101;

$gray-1: #636363;
$gray-2: #3b3b3b;
$gray-3: #212121;
$gray-4: #2b2b2b;



$affair: #694a84;
$affair-hover:  darken($affair, 30%);
$blue-1: #3ab3ff;
$red-1: #e12e3f;
$green-1: #2fd967;

$light-1: #ffffff;
$light-2: #858585;
$light-3: #a6a6a6;


//background-colors:
$bg-1: #fff;
$bg-2: #f6f6f6;
$bg-3: #ebebeb;
$bg-4: rgba(30, 24, 53, 0.4);
$bg-5: rgba(255, 255, 255, 0.24);
$bg-6: #959595;


$bg-image-1: linear-gradient(270deg, #9229a3 0%, #ff6400 100%);
$bg-image-1-hover: linear-gradient(270deg, darken(#9229a3, 7%) 0%, darken(#ff6400, 7%) 100%);
$bg-image-2: linear-gradient(to right, #ff003c 0%, #9229a3 100%);
$bg-image-2-hover: linear-gradient(to right, darken(#ff003c, 20%) 0%, darken(#9229a3, 20%) 100%);
$bg-image-3: linear-gradient(270deg, #ff6000 0%, #ff7e00 100%);
$bg-image-3-hover: linear-gradient(270deg, darken(#ff6000, 5%) 0%, darken(#ff7e00, 2%) 100%);
$bg-image-4: linear-gradient(to right, #ff003c 0%, #9229a3 100%), linear-gradient(-75deg, #9229a3 0%, #ff003c 100%);
$bg-image-4-hover: linear-gradient(to right, darken(#ff003c, 10%) 0%, darken(#9229a3, 10%) 100%), linear-gradient(-75deg, #9229a3 0%, #ff003c 100%);
$bg-image-5: linear-gradient(to top, white 0%, #f0f0f0 100%);


//shadows, borders, rgba, other
$box-shadow-1: 0 5px 5.6px 0.4px rgba(194, 23, 118, 0.16);
$box-shadow-2: 0 5px 5.6px 0.4px rgba(168, 71, 0, 0.36);
$border-1: 5px solid rgba(0, 0, 0, 0.07);

//размер шрифта//
$font-size-base: 16px;
$line-height-base: 22px/$font-size-base;

$font-size-desktop: 16px;
$font-size-laptop: 15px;
$font-size-tablet: 14px;
$font-size-phone: 13px;



//брейкпоинты//
//Mobile//
$desktop-point-widths: "(min-width: 1200px)";
$laptop-point-widths: "(min-width: 992px)";
$tablet-point-widths: "(min-width: 576px)";
//Desktop//
$desktop-point-widths-des: "(max-width: 1200px)";
$laptop-point-widths-des: "(max-width: 992px)";
$tablet-point-widths-des: "(max-width: 814px)";
$phone-point-widths-des: "(max-width: 576px)";

//макс-ширина на устройствах//
$desktop-max-widths: 1170px;
$laptop-max-widths: 992px;
$tablet-max-widths: 768px;
$phone-max-widths: 480px;

//мин-ширина на устройствах//
$desktop-min-widths: 1170px;
$laptop-min-widths: 992px;
$tablet-min-widths: 768px;
$phone-min-widths: 480px;

//ширины контейнера//
$desktop-inner-width: 1170px;
$laptop-inner-widths: 960px;
$tablet-inner-widths: 720px;
$phone-inner-widths: 540px;

//Ретина//
$retina: "(min-resolution: 144dpi), (min-resolution: 1.5dppx)";
