extends ../_template

block variables
  - var title = 'Jorange'

block content

  .wrapper
      //HEADER
      include ../common/_header
      //END HEADER
      |
      |
      //MAIN CONTENT
      main.content
        //- include ../common/_slider
        |
      //END CONTENT
      |
      |
      include ../common/_footer
