section.about
	.container
		h2.about__title О компании
		.about__top
			p.about__text Lorem ipsum dolor sit amet, consectetur adipisicing elit,
				|sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
				|minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
				|commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
				|esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
				|non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				|Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
			h4.about__countres-title Мы имеем представительства в:
			.about__countres
				.about__countre-item
					.about__countre-img
						picture
							img(src="img/content/c-italy@1x.png", srcset="img/content/c-italy@2x.png 2x"
								width="24" height="24" alt="Flag" title="Italy")
					span Республика Италия
				.about__countre-item
					.about__countre-img
						picture
							img(src="img/content/c-poland@1x.png", srcset="img/content/c-poland@2x.png 2x"
								width="24" height="24" alt="Flag" title="Poland")
					span Республика Польша
			.about__btn-block
				a(href="#").btn.about__btn Задать вопрос
				a(href="#").btn.about__btn.about__btn--transparent Больше о компании
		.about__features
			h3.about__features-title Мы гарантируем
			ul.about__features-list
				li.about__features-item
					i(aria-hidden="true").fa.fa-check-circle
					|Качество
				li.about__features-item
					i(aria-hidden="true").fa.fa-check-circle
					|Пунктуальность
				li.about__features-item
					i(aria-hidden="true").fa.fa-check-circle
					|Конфиденциальность
				li.about__features-item
					i(aria-hidden="true").fa.fa-check-circle
					|Экономичность
