section.feedback
	.container
		h2.feedback__title Отзывы
		.feedback__slider
			ul.feedback__slide-list.owl-carousel
				li.feedback__slide-item
					.feedback__slide-item-left
						h4.feedback__slide-item-title Иван Петров
							span CEO "Arista Corp."
						.feedback__slide-item-number
							span 1
							span /9
						.feedback__slide-stars
							i(aria-hidden="true").fa.fa.fa-star
							i(aria-hidden="true").fa.fa.fa-star
							i(aria-hidden="true").fa.fa.fa-star
							i(aria-hidden="true").fa.fa.fa-star
							i(aria-hidden="true").fa.fa.fa-star
						p.feedback__slide-item-text Lorem ipsum dolor sit amet, consectetur adipisicing
							|elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
							|Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
							|ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
							|in voluptate cillum dolore eu
							a(href="#").feedback__slide-item-link Далее
					.feedback__slide-item-image.feedback__slide-item-image--one Image1
					.feedback__slide-item-right
				li.feedback__slide-item
					.feedback__slide-item-left
						h4.feedback__slide-item-title Сергей Иванов
							span CEO "Arista Corp."
						.feedback__slide-item-number
							span 2
							span /9
						.feedback__slide-stars
							i(aria-hidden="true").fa.fa.fa-star
							i(aria-hidden="true").fa.fa.fa-star
							i(aria-hidden="true").fa.fa.fa-star
							i(aria-hidden="true").fa.fa.fa-star
							i(aria-hidden="true").fa.fa.fa-star
						p.feedback__slide-item-text Lorem ipsum dolor sit amet, consectetur adipisicing
							|elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
							|Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
							|ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
							|in voluptate cillum dolore eu
							a(href="#").feedback__slide-item-link Далее
					.feedback__slide-item-image.feedback__slide-item-image--two Image2
			.feedback__slide-arrows
				a(href="#").feedback__slide-arrow.feedback__slide-arrow--prev
					i(aria-hidden="true").fa.fa-angle-left
				a(href="#").feedback__slide-arrow.feedback__slide-arrow--next
					i(aria-hidden="true").fa.fa-angle-right
