footer.footer
  .container
    .footet-left
      .footer__left-col
        .footer__menu
          h3.footer__menu-title Информация
          ul.footer__menu-list
            li.footer__menu-item
              a(href="#").footer__menu-link Поддерживаемые языки
            li.footer__menu-item
              a(href="#").footer__menu-link Как это работает
            li.footer__menu-item
              a(href="#").footer__menu-link О компании
        .footer__menu
          h3.footer__menu-title Правовая информация
          ul.footer__menu-list
            li.footer__menu-item
              a(href="#").footer__menu-link Условия использования
            li.footer__menu-item
              a(href="#").footer__menu-link Политика конфиденциальности
      .footer__left-col
        .footer__menu
          h3.footer__menu-title Ссылки
          ul.footer__menu-list
            li.footer__menu-item
              a(href="#").footer__menu-link Переводческие услуги
            li.footer__menu-item
              a(href="#").footer__menu-link Легализация документов
            li.footer__menu-item
              a(href="#").footer__menu-link Проверка перевода
            li.footer__menu-item
              a(href="#").footer__menu-link Транслитерация
            li.footer__menu-item
              a(href="#").footer__menu-link Перевод с английского
            li.footer__menu-item
              a(href="#").footer__menu-link Технический перевод
            li.footer__menu-item
              a(href="#").footer__menu-link Правовой перевод
            li.footer__menu-item
              a(href="#").footer__menu-link Вопрос/ответ
    .footer-right
      .footer-logo
        .logo
          a(href="#").logo__link
            picture
              img(src="img/content/page-logo.svg", srcset="img/content/page-logo.svg 2x"
                width="204" height="105" alt="logotype" title="Page logo")
      .footer__socials
        include ../common/_socials
      .footer-logo__desc
        span.footer-logo__desc-con Translation Agency предоставляет
        |профессиональные, быстрые переводы более чем на 55 языках мира!
        span Мы работаем Пн-Сб, 24/7
      .footer__copyright &#169; Все права защищены
