header.header
  .container
    .header__top
      .header__logo
        .header__logo-img
          include ../common/_logo
        .header__logo-slogan Company Slogan
      .header__actions
        .header__tell
          span +38 (067) 937 99 92
          .header__app
            a(href="#").header__app-link Viber
            a(href="#").header__app-link WhatsUp
        a(href="#").btn.header__do-btn
          i(aria-hidden="true").fa.fa-plus-circle
          |Заказать перевод
    .header__bottom
      ul.slider
        li.slider__item
          .slider__block
            h1.slider__title Будь со всем миром на одном языке!
            .slider__text Ищете квалифицированного переводчика?
              |Тогда <span>наша компантия </span>- это то, что Вам нужно!
            a(href="#").btn.slider__btn
              i(aria-hidden="true").fa.fa-plus-circle
              |Как это работает?
      .header__nav
        include ../common/_menu
