nav.navbar.menu
  .container
    .navbar-header
      button(type="button" aria-label="Menu" aria-controls="navigation" data-toggle="collapse"
        data-target="#bs-example-navbar-collapse-1").collapsed.hamburger.menu__hamburger.hamburger--collapse
        span.hamburger-box
          span.hamburger-inner

    .collapse.navbar-collapse.menu__collapse#bs-example-navbar-collapse-1
      ul.nav.navbar-nav.menu__list
        li.menu__item.active
          a(href="#").menu__link О компании
        li.menu__item
          a(href="#").menu__link Услуги
        li.menu__item
          a(href="#").menu__link Технологии
        li.menu__item
          a(href="#").menu__link Схема работы
        li.menu__item
          a(href="#").menu__link Преимущества
        li.menu__item
          a(href="#").menu__link Отзывы

    //- <!--.menu__collapse -->
  //- <!--.container--->
