section.services
	.container
		h2.services__title Услуги
		.services__tabs
			ul(role="tablist").nav.nav-tabs.services__tabs-btn
				li(role="presentation").services__tab-item.active
					a(href="#translation" aria-controls="translation" role="tab"
						data-toggle="tab").services__tab-link Переводческие услуги
				li(role="presentation").services__tab-item
					a(href="#legalization" aria-controls="legalization" role="tab"
						data-toggle="tab").services__tab-link Легализация документов
			.tab-content
				div(role="tabpanel").tab-pane.services__tab-content.fade.in.active#translation
					p.services__tab-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
						|eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						|quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						|Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
						|nulla pariatur. Excep
						a(href="#").services__tab-link-more Подробнее...
					ul.services__feat-list
						li.services__feat-item
							.services__feat-img
								i(aria-hidden="true").fa.fa-university
							.services__feat-caption Юридический перевод
						li.services__feat-item
							.services__feat-img
								i(aria-hidden="true").fa.fa-cogs
							.services__feat-caption Технический перевод
						li.services__feat-item
							.services__feat-img
								i(aria-hidden="true").fa.fa-fire
							.services__feat-caption Переводы по нефтегазовой тематике
						li.services__feat-item
							.services__feat-img
								i(aria-hidden="true").fa.fa-globe
							.services__feat-caption Перевод веб сайтов
						li.services__feat-item
							.services__feat-img
								i(aria-hidden="true").fa.fa-user
							.services__feat-caption Перевод личных документов
						li.services__feat-item
							.services__feat-img
								i(aria-hidden="true").fa.fa-youtube-play
							.services__feat-caption Перевод мультимедиа
						li.services__feat-item
							.services__feat-img
								i(aria-hidden="true").fa.fa-stethoscope
							.services__feat-caption Медицинский перевод
						li.services__feat-item
							.services__feat-img
								i(aria-hidden="true").fa.fa-bullhorn
							.services__feat-caption Перевод рекламных текстов
						li.services__feat-item
							.services__feat-img
								i(aria-hidden="true").fa.fa-star
							.services__feat-caption Художественный перевод
						li.services__feat-item
							.services__feat-img
								i(aria-hidden="true").fa.fa-flag
							.services__feat-caption Перевод носителем языка
				div(role="tabpanel").tab-pane.services__tab-content#legalization
					p.services__tab-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
						|eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						|Duis aute irure dolor in reprehenderit in voluptate velit esse
						a(href="#").services__tab-link-more Подробнее...
					ul.services__feat-list
						li.services__feat-item
							.services__feat-img
								i(aria-hidden="true").fa.fa-university
							.services__feat-caption Юридический перевод
						li.services__feat-item
							.services__feat-img
								i(aria-hidden="true").fa.fa-cogs
							.services__feat-caption Технический перевод
						li.services__feat-item
							.services__feat-img
								i(aria-hidden="true").fa.fa-fire
							.services__feat-caption Переводы по нефтегазовой тематике
						li.services__feat-item
							.services__feat-img
								i(aria-hidden="true").fa.fa-globe
							.services__feat-caption Перевод веб сайтов
		.services__question
			|Не нашли то что искали?
			a(href="#").services__question-link Задайте вопрос нашим специалистам!
