.widget-lang
	ul.widget-lang-list
		li.widget-lang-item
			a(href="#").widget-lang-link
				.widget-lang-img
					picture
						img(src="img/decor/lang1@1x.png", srcset="img/decor/lang1@2x.png 2x"
							width="28" height="28" alt="Russian")
				span Rus
		li.widget-lang-item
			a(href="#").widget-lang-link
				.widget-lang-img
					picture
						img(src="img/decor/lang2@1x.png", srcset="img/decor/lang2@2x.png 2x"
							width="28" height="28" alt="English")
				span Eng
		li.widget-lang-item
			a(href="#").widget-lang-link
				.widget-lang-img
					picture
						img(src="img/decor/lang3@1x.png", srcset="img/decor/lang3@2x.png 2x"
							width="28" height="28" alt="German")
				span Deu
